{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Django Simple Login{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'theme.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
  <main>
    <div class="container">
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>
  <footer>
    enFa
  </footer>
</body>
</html>
